.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.d-grid {
  display: grid;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.mt-20 {
  margin-top: 20px;
}
.mr-10 {
  margin-right: 10px;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}
.iti__flag {
  background-image: url(https://stcdn.leadconnectorhq.com/intl-tel-input/17.0.12/img/flags.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url(https://stcdn.leadconnectorhq.com/intl-tel-input/17.0.12/img/flags@2x.png);
  }
}
.iti__country {
  display: flex;
  justify-content: space-between;
}
