.v-spinner .v-moon1 {
  position: relative;
}
.v-spinner .v-moon1,
.v-spinner .v-moon2 {
  animation: v-moonStretchDelay 0.6s linear 0s infinite;
  animation-fill-mode: forwards;
}
.v-spinner .v-moon2 {
  opacity: 0.8;
  position: absolute;
}
.v-spinner .v-moon3 {
  opacity: 0.1;
}
@keyframes v-moonStretchDelay {
  to {
    transform: rotate(1turn);
  }
}
